<section id="competition">
  <h2>Competition</h2>

  <ul class="auv-list">
    <li><img src="img/auv/auv1.jpg" alt="AUV design 1" loading="lazy"></li>
    <li><img src="img/auv/auv2.jpg" alt="AUV design 2" loading="lazy"></li>
    <li><img src="img/auv/auv3.jpg" alt="AUV design 3" loading="lazy"></li>
    <li><img src="img/auv/auv4.jpg" alt="AUV design 4" loading="lazy"></li>
  </ul>
  <p>The SAUVC competition challenges participant teams to build an AUV which can perform given tasks. These tasks are simulations of tasks operational AUVs would have to be able to perform. The competition is held in a swimming pool and each team's AUV will have to perform 4 tasks. The speed and accuracy at which the AUV performs tasks will be used to decide the winner of the competition.</p>
  <p>The tasks involve four widely faced challenges underwater such as <span class="highlight">AUV navigation</span>, <span class="highlight">visual identification</span>, <span class="highlight">acoustic localization</span> and <span class="highlight">robotic manipulation</span>.</p>
  <!-- <p>Detailed explanation of the various tasks of the competition and rules are in the <a href="https://sauvc.org/rulebook/">Rulebook v4.0</a>.</p> -->
  <p>Detailed explanation of the various tasks of the competition and rules will be published shortly.</p>
  <p>The competition is open to participants from all over the world. A team may consist of up to 11 participants including faculty supervisors. At least half of the participants must be non-professionals (students, hobbyists, hackerspace members, etc) at the time of registration.</p>
</section>
