<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SAUVC 2020</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="apple-touch-icon" href="icon.png"> -->
  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

  <meta property="og:title" content="Singapore AUV Challenge" />
  <meta property="og:url" content="https://sauvc.org/" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="Explore the wonders underwater robotics world at Singapore AUV Challenge" />
  <meta property="og:image" content="https://sauvc.org/img/sauvc-2017.jpg" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@sauvc" />
  <meta name="twitter:image" content="https://sauvc.org/img/sauvc-2017.jpg" />


  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">

  <script async src="js/script.js"></script>
  <script async src="js/bubbles.js"></script>
</head>
