<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ site.title }} {{ site.data.hero.year }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- <link rel="apple-touch-icon" href="icon.png"> -->
  <link rel="shortcut icon" type="image/png" href="favicon.ico"/>

  <meta property="og:title" content="{{ site.longname }}" />
  <meta property="og:url" content="{{ site.website }}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:image" content="{{ site.website }}/{{ site.image_path }}" />

  <meta name="twitter:card" content="{{ site.description }}" />
  <meta name="twitter:creator" content="@{{ site.twitter }}" />
  <meta name="twitter:image" content="{{ site.website }}/{{ site.image_path }}" />

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>
