<div class="hero bubbles">
  <h3 class="synopsis"><span class="highlight">Design</span> to compete. <span class="highlight">Destined</span> to explore.<br> at <strong style="font-size:1.2em;">Singapore AUV Challenge</strong>
  </h3>

  <img src="img/mascot.svg" class="mascot" alt="SAUVC mascot">

  <ul class="stats">
    <li>
      <div class="num">7 <span>Years</span></div>
      <div class="caption">Competitions for years</div>
    </li>
    <li>
      <div class="num">19 <span>Countries</span></div>
      <div class="caption">Participants and mentors from everywhere</div>
    </li>
    <li>
      <div class="num">93 <span>AUVs</span></div>
      <div class="caption">Teams with various AUV designs</div>
    </li>
    <li>
      <div class="num">0 <span>Controls</span></div>
      <div class="caption">Completely autonomous</div>
    </li>
  </ul>
  <h3 class="welcome">
    Welcome to<br>
    <span class="welcome-name">SAUVC 2020</span>
    <span class="welcome-info">Singapore, April 3-7</span>
  </h3>

  <div id="action" class="action">
    <!-- INFO: Classes to use -->
    <!-- a.action-button: for an action button with hyperlink-->
    <!-- p.action-emphasis: for an short announcement -->
    <!-- p.action-info: for deadline or more information -->

    <a href="https://forms.gle/YTG8CT9trfDKHgAk9" id="register" class="action-button">Register Here</a>
    <!-- <a id="register" class="action-button">Register Here</a> -->
    <!-- <p class="action-info action-info-large">IEEE OES is presenting an award for <strong>Most Innovative Engineering</strong> at SAUVC 2019</p> -->
    <!-- <p class="action-info">Submit video by : 8 February 2019</p> -->
    <!-- <p class="action-info">Register by : 15 November 2018</p> -->
    <!-- <p class="action-info">Submit video by : 31 Dec 2018</p> -->
  </div>

  <audio id="bubbles-audio" loop="loop" src="assets/bubbles.mp3"></audio>
</div>
