<div class="hero bubbles">
  <h3 class="synopsis"><span class="highlight">Design</span> to compete. <span class="highlight">Destined</span> to explore.<br> at <strong style="font-size:1.2em;">Singapore AUV Challenge</strong>
  </h3>

  <img src="img/mascot.svg" class="mascot" alt="SAUVC mascot">

  <ul class="stats">
    {% for stat in site.data.hero.stats %}
    <li>
      <div class="num">{{ stat.number }} <span>{{ stat.type }}</span></div>
      <div class="caption">{{ stat.caption }}</div>
    </li>
    {% endfor %}
  </ul>
  <h3 class="welcome">
    Welcome to<br>
    <span class="welcome-name">SAUVC {{ site.data.hero.year }}</span>
    <span class="welcome-info">{{ site.data.hero.city }}, {{ site.data.hero.dates }}</span>
  </h3>

  <div id="action" class="action">
    {% if site.data.hero.action_link %}
    <a href="{{ site.data.hero.action_link }}" id="register" class="action-button">{{ site.data.hero.action }}</a>
    {% else %}
    <p class="action-emphasis">{{ site.data.hero.action }}</p>
    {% endif %}

    {% if site.data.hero.action_info %}
    <p class="action-info action-info-large">{{ site.data.hero.action_info }}</p>
    {% endif %}
  </div>

  <audio id="bubbles-audio" loop="loop" src="assets/bubbles.mp3"></audio>
</div>
