<nav class="nav">
  <ul class="menu">
    <li><a href="/" class="title"><img src="img/logo_notext.png" class="logo-menu" alt="SAUVC"></a></li>
    <li><a href="#competition">Competition</a></li>
    {% if site.data.sections.teams == true %}<li><a href="#teams">Teams</a></li>{% endif %}
    {% if site.data.sections.schedule == true %}<li><a href="#schedule">Schedule</a></li>{% endif %}
    {% if site.data.sections.speakers == true %}<li><a href="#speakers">Speakers</a></li>{% endif %}
    <li><a href="#travel">Travel</a></li>
    <li><a href="#venue">Venue</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="/2019">Past Events</a></li>
  </ul>
</nav>

<nav class="mobile-menu">
  <label for="show-menu" class="show-menu">
    <span class="mobile-title">SAUVC 2020</span>
    <span class="lines"></span>
  </label>
  <input type="checkbox" id="show-menu">
  <ul id="menu">
    <li><a href="#information">Information</a></li>
    <li><a href="#competition">Competition</a></li>
    <li><a href="#teams">Teams</a></li>
    {% if site.data.sections.schedule == true %}<li><a href="#schedule">Schedule</a></li>{% endif %}
    {% if site.data.sections.speakers == true %}<li><a href="#speakers">Speakers</a></li>{% endif %}
    <li><a href="#travel">Travel</a></li>
    <li><a href="#venue">Venue</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="/2019">Past Events</a></li>
  </ul>
</nav>
