{% capture teams %}
  {% for team in site.data.registered.teams %}
  <tr>
    <td class="team-id">{{ team.id }}</td>
    <td>{% if team.url != "" %}<a href="{{ team.url }}">{% endif%}{{ team.name }}</a></td>
    <td>{% if team.institute-url %}<a href="{{ team.institute-url }}">{% endif%}{{ team.institute }}</a></td>
    <td><span class="flag">{{ team.flag}}</span>{{ team.location }}</td>
  </tr>
  {% endfor %}
{% endcapture %}

{% capture table_title %}
SAUVC {{site.data.hero.year}} Registered Teams
{% endcapture %}

{% include teams-table.html title=table_title id="registered" class="table-teams" header="<tr><th>Team ID</th> <th>Team Name</th> <th>Institute</th> <th>Location</th></tr>" content=teams open=site.data.registered.open%}

