<ul class="social">
  <li>
    <img src="img/social/facebook.png" alt="Facebook">
    <a href="https://www.facebook.com/SingaporeAUVChallenge/">Facebook</a>
  </li>
  <li>
    <img src="img/social/reddit.png" alt="Reddit">
    <a href="https://www.reddit.com/r/SAUVC/">Reddit</a>
  </li>
  <li>
    <img src="img/social/twitter.png" alt="Twitter">
    <a href="https://twitter.com/sauvcsg">Twitter</a>
  </li>
  <li>
    <img src="img/social/flickr.png" alt="Flickr">
    <a href="https://www.flickr.com/photos/sauvc/">Flickr</a>
  </li>
  <li>
    <img src="img/social/youtube.png" alt="YouTube">
    <a href="https://www.youtube.com/channel/UCC1XR5k-A8oQUrXvRDni_YQ">YouTube</a>
  </li>
  <li>
    <img src="img/social/github.png" alt="Github">
    <a href="https://github.com/sauvc">Github</a>
  </li>
</ul>
