<template id="team-template">
  <tr>
    <td class="team-id"></td>
    <td></td>
    <td></td>
    <td><span class="flag"></span></td>
  </tr>
</template>

<template id="final-team-template">
  <tr>
    <td></td>
    <td class="team-id"></td>
    <td></td>
    <td></td>
    <td><span class="flag"></span></td>
    <td></td>
  </tr>
</template>

<section id="teams">
  {% if site.data.winners.visibility == true %}
  {%- include winners.html -%}
  {% endif %}

  {% if site.data.qualified.visibility == true %}
  {%- include qualified.html -%}
  {% endif %}

  {% if site.data.shortlisted.visibility == true %}
  {%- include shortlisted.html -%}
  {% endif %}

  {% if site.data.registered.visibility == true %}
  {%- include registered.html -%}
  {% endif %}
</section>
