<!doctype html>
<html lang="en">
  {%- include head.html -%}
<body>
  {{ content }}

  {% if site.data.sections.schedule == true %}
  {%- include schedule.html -%}
  {% endif %}

  {% if site.data.sections.speakers == true %}
  {%- include speakers.html -%}
  {% endif %}

  {%- include travel.html -%}

  {%- include venue.html -%}

  {%- include sponsors.html -%}

  {%- include contact.html -%}

  {% if site.data.sections.about == true %}
  {%- include about.html -%}
  {% endif %}

  {%- include footer.html -%}

  {%- include scripts.html -%}
</body>
</html>
