<!doctype html>
<html lang="en">
  {%- include head.html -%}
<body>
  {%- include navbar.html -%}

  {%- include hero.html -%}

  {%- include socialmedia.html -%}

  {% if site.data.sections.competition_photos == true %}
  {%- include competition-photos.html -%}
  {% endif %}

  {%- include info.html -%}

  {% if site.data.sections.teams == true %}
  {%- include teams.html -%}
  {% endif %}

  {{ content }}

  {%- include competition.html -%}

  {% if site.data.sections.calculator == true %}
  {%- include calculator.html -%}
  {% endif %}

  {% if site.data.sections.schedule == true %}
  {%- include schedule.html -%}
  {% endif %}

  {% if site.data.sections.speakers == true %}
  {%- include speakers.html -%}
  {% endif %}

  {%- include travel.html -%}

  {%- include venue.html -%}

  {%- include sponsors.html -%}

  {%- include contact.html -%}

  {% if site.data.sections.about == true %}
  {%- include about.html -%}
  {% endif %}

  {%- include footer.html -%}

  <!-- Scripts -->
  <script async src="js/bubbles.js"></script>
  {%- include ga.html -%}

  {% if site.data.sections.calculator == true %}
  <script src="js/calc.js"></script>
  {% endif %}

</body>
</html>
